// global scss
$global-font: 'Montserrat', sans-serif;
$global-color-dark: #2d3142;
$global-color-light: #f5f5f5;
$global-color-medium: #f26419;

// Title h2
$titleh2-font: 'Montserrat', sans-serif;
$titleh2-size: 1.6rem;
$titleh2-weight: 500;

// Titre h3
$titleh3-font: 'Montserrat', sans-serif;
$titleh3-size: 1.2rem;
$titleh3-weight: 500;
// $paddingh3: 250px, 0, 15px, 0; 

// Titre h4
$titleh4-font: 'Montserrat', sans-serif;
$titleh4-size: 0,9rem;
$titleh4-weight: 400;

// Titre h5
$titleh5-font: 'Montserrat', sans-serif;
$titleh5-size: 0.9rem;
$titleh5-weight: 400;
