@use 'src/styles/vars';

.createlist {
  width: 100%;
  height: 100vh;
}

// Small media : -699px
@media only screen and (max-width: 699px) {

  // head classes : styles/index.scss

  .createlist-form-error {
    background-color: #fff;
    margin: 10px auto;
    padding: 10px 10px 10px 10px;
    width: 17rem;
    height: 3em;
    text-align: center;
    color: red;
    font-size: 1.1em;
    border: solid 1px #612525;
    border-radius: 10px;
  }

}

// Medium media : 700px-949px
@media only screen and (min-width: 700px) and (max-width: 949px) {

  // head classes : styles/index.scss

  .createlist-form-error {
    background-color: #fff;
    margin: 10px auto;
    padding: 10px 10px 10px 10px;
    width: 17rem;
    height: 3em;
    text-align: center;
    color: red;
    font-size: 1.1em;
    border: solid 1px #612525;
    border-radius: 10px;
  }

}

// Large media : +950px
@media only screen and (min-width: 950px) {

  // head classes : styles/index.scss

  .createlist-form-error {
    background-color: #fff;
    margin: 10px auto;
    padding: 10px 10px 10px 10px;
    width: 17rem;
    height: 3em;
    text-align: center;
    color: red;
    font-size: 1.1em;
    border: solid 1px #612525;
    border-radius: 10px;
  }

}
